<% provide(:title, 'Home') %>

<div id="header">
  <i class="fa fa-camera-retro fa-5x"></i>
    <h1>Flickr Photo Search!</h1>

  <div class="form">
    <%= render :partial => 'form' %>
  </div>
  <div class="announce">
    <%= flash[:annouce] %>
  </div>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
</div><!-- div header end -->

<div id="image_main">
  <div class="search_result">
    <!-- Pagination -->
    <div id="page_style">
      <% if @images %>
        <%= will_paginate @images %>
      <% end %>
    </div>
    <!-- click a thumbnail image and open the larger image -->
    <div class="image_block">
      <% @images.each do |image| %>
        <div class="single_image">
            <%= link_to (image_tag(image.thumbnail_url, :size => '75x75')), largeimage_path, data: {remote: :true, type: :json, params: {limageurl: image.original_url, limageid: image.id, limagetitle: image.title}.to_param} %>
        </div>
      <%end if @images%>
    </div>
  </div>
  <!-- Insert large image with title, id here -->
  <div class="large"></div>
</div>










